<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Conditions Dashboard
      </h1>
    </div>
  </div>
</section>
<p>Weather Data</p>
<ul>
  <li>40-50°: highest rides: <%= @temp_data[40][:max] %> lowest rides: <%= @temp_data[40][:min] %> average rides: <%= @temp_data[40][:avg].round(2) %></li>
  <li>50-60°: highest rides: <%= @temp_data[50][:max] %> lowest rides: <%= @temp_data[50][:min] %> average rides: <%= @temp_data[50][:avg].round(2) %></li>
  <li>60-70°: highest rides: <%= @temp_data[60][:max] %> lowest rides: <%= @temp_data[60][:min] %> average rides: <%= @temp_data[60][:avg].round(2) %></li>
  <li>70-80°: highest rides: <%= @temp_data[70][:max] %> lowest rides: <%= @temp_data[70][:min] %> average rides: <%= @temp_data[70][:avg].round(2) %></li>
  <li>80-90°: highest rides: <%= @temp_data[80][:max] %> lowest rides: <%= @temp_data[80][:min] %> average rides: <%= @temp_data[80][:avg].round(2) %></li>
  <li>90-100°: highest rides: <%= @temp_data[90][:max] %> lowest rides: <%= @temp_data[90][:min] %> average rides: <%= @temp_data[90][:avg].round(2) %></li>
</ul></br>

<p>Precipitation Data</p>
<ul>
<li>0.0-0.5 in: highest rides: <%= @precipitation_data[0.0][:max] %> lowest rides: <%= @precipitation_data[0.0][:min] %> average rides: <%= @precipitation_data[0.0][:avg].round(2) %></li>
<li>0.5-1.0 in: highest rides: <%= @precipitation_data[0.5][:max] %> lowest rides: <%= @precipitation_data[0.5][:min] %> average rides: <%= @precipitation_data[0.5][:avg].round(2) %></li>
<li>1.0-1.5 in: highest rides: <%= @precipitation_data[1.0][:max] %> lowest rides: <%= @precipitation_data[1.0][:min] %> average rides: <%= @precipitation_data[1.0][:avg].round(2) %></li>
</ul></br>

<p>Visibility Data</p>
<ul>
  <li>4-8 mi: highest rides: <%= @visibility_data[4][:max] %> lowest rides: <%= @visibility_data[4][:min] %> average rides: <%= @visibility_data[4][:avg].round(2) %></li>
  <li>8-12 mi: highest rides: <%= @visibility_data[8][:max] %> lowest rides: <%= @visibility_data[8][:min] %> average rides: <%= @visibility_data[8][:avg].round(2) %></li>
</ul></br>

<p>Wind Data</p>
<ul>
  <li>0-4 mph: highest rides: <%= @wind_data[0][:max] %> lowest rides: <%= @wind_data[0][:min] %> average rides: <%= @wind_data[0][:avg].round(2) %></li>
  <li>4-8 mph: highest rides: <%= @wind_data[4][:max] %> lowest rides: <%= @wind_data[4][:min] %> average rides: <%= @wind_data[4][:avg].round(2) %></li>
  <li>8-12 mph: highest rides: <%= @wind_data[8][:max] %> lowest rides: <%= @wind_data[8][:min] %> average rides: <%= @wind_data[8][:avg].round(2) %></li>
  <li>12-16 mph: highest rides: <%= @wind_data[12][:max] %> lowest rides: <%= @wind_data[12][:min] %> average rides: <%= @wind_data[12][:avg].round(2) %></li>
  <li>16-20 mph: highest rides: <%= @wind_data[16][:max] %> lowest rides: <%= @wind_data[16][:min] %> average rides: <%= @wind_data[16][:avg].round(2) %></li>
  <li>20-24 mph: highest rides: <%= @wind_data[20][:max] %> lowest rides: <%= @wind_data[20][:min] %> average rides: <%= @wind_data[20][:avg].round(2) %></li>
</ul></br>
