<% @conditions.each do |condition| %>
<ul>
  <li> Date: <%= condition.date %> </li>
  <li> Max Temperature: <%= condition.max_temp %></li>
  <li> Mean Temperature: <%= condition.mean_temp %></li>
  <li> Min Temperature:<%= condition.min_temp %></li>
  <li> Mean Humidity: <%= condition.mean_humidity %></li>
  <li> Mean Visibility: <%= condition.mean_visibility %></li>
  <li> Mean Wind Speed: <%= condition.mean_wind_speed %> mph </li>
  <li> Precipitation: <%= condition.precipitation %> inches </li>
  <% if current_admin? %>
  <div id='condition-<%= condition.id %>'>
    <%= button_to 'Edit', admin_condition_path(condition) %>
    <%= button_to 'Delete', admin_condition_path(condition), method: 'delete', data: { confirm: 'Are you sure you want to delete this condition?' } %>
    <% end %>
  </div>
</ul>
<% end %>
