<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-white">
        </article>
      </div>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-white">
          <p class="title">My Profile</p>
          <p class="sub-title">
            First Name: <%= current_user.first_name.capitalize %></br>
            Last Name: <%= current_user.last_name.capitalize %></br>
            Street: <%= current_user.street %></br>
            City: <%= current_user.city.capitalize %></br>
            State: <%= current_user.state %></br>
            Zip Code: <%= current_user.zip_code %></br>
            Email: <%= current_user.email %></br>
              <%= button_to 'Edit Account', edit_user_path(current_user), method: 'get' %>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-white">
          <p class="title">My Orders</p>
          <p class="sub-title">
          <% if @orders %>
            <% @orders.each do |order| %>
              <%= link_to order.created_at.to_date, order_path(order), class: "order_#{order.id}"%><br>
            <% end %>
          <% end %>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
