<h1>All Trips</h1>

<% @trips.each do |trip| %>
  <ul>
    <li>Trip: <%=trip.id%></li>
    <li>Duration: <%= trip.duration %>s</li>
    <li>Start Date: <%= trip.start_date %></li>
    <li>Start Station: <%= trip.start_station_name %></li>
    <li>End Date: <%= trip.end_date %></li>
    <li>End Station: <%= trip.end_station_name %></li>
    <li>Bike ID: <%= trip.bike_id %></li>
    <li>Subscription Type: <%= trip.subscription_type %></li>
    <li>Zip Code: <%= trip.zip_code %></li>
    <li class="trip_<%= trip.id %>">
      <% if current_admin? %>
        <%= button_to "Edit", edit_admin_trip_path(trip), method: 'get' %>
        <%= button_to "Delete", admin_trip_path(trip), method: "delete", data: {confirm: "Are you sure you want to delete this station?"} %>
      <% end %>
    </li>
  </ul>
<% end %>

<%= paginate @trips %>
