<h1>Trip ID: <%= @trip.id %></h1>

<ul>
  <li>Duration: <%= @trip.duration %>s</li>
  <li>Start Date: <%= @trip.start_date %></li>
  <li>Start Station: <%= @trip.start_station_name %></li>
  <li>Start Station ID: <%= @trip.start_station_id %></li>
  <li>End Date: <%= @trip.end_date %></li>
  <li>End Station: <%= @trip.end_station_name %></li>
  <li>End Station ID: <%= @trip.end_station_id %></li>
  <li>Bike ID: <%= @trip.bike_id %></li>
  <li>Subscription Type: <%= @trip.subscription_type %></li>
  <li>Zip Code: <%= @trip.zip_code %></li>
</ul>
