<section class='hero is-primary'>
  <div class='hero-body'>
    <div class='container'>
      <h1 class='title'>
        All Stations
        <h2 class='sub-title'>
          <% if current_admin? %>
          <p class="control"><%= button_to 'Create New Station', new_admin_station_path, method: :get, class: "button is-small is-link"%></p>
          <% end %>
        </h2>
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns is-centered">
    <div class="column is-narrow">
      <table class="table is-hoverable is-centered">
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Dock Count</th>
            <th>Installation Date</th>
            <% if current_admin? %>
              <th>Admin Edit</th>
              <th>Admin Delete</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @stations.each do |station| %>
            <tr>
              <td><%= link_to station.name, "/#{station.slug}" %></td>
              <td><%= station.city %></td>
              <td><%= station.dock_count %></td>
              <td><%= station.installation_date %></td>
              <% if current_admin? %>
                <div id='station-<%= station.id %>'>
                  <td class='control'><%= button_to 'Edit', edit_admin_station_path(station), method: :get, class: "button is-primary is-outlined is-small" %></td>
                  <td class='control'><%= button_to 'Delete', admin_station_path(station), method: :delete, class: "button is-danger is-outlined is-small", data: {confirm: 'Are you sure you want to delete this station?'} %></td>
                </div>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<%= paginate @stations %>
