<h1><%= @station.name %></h1>
<ul>
  <li><%= @station.dock_count %></li>
  <li><%= @station.city %></li>
  <li><%= @station.installation_date %></li>
</ul>

<% if current_user && @station.total_trips_started > 0 %>
  <p>Number of rides started at this station: <%= @station.total_trips_started %></p>
  <p>Number of rides ended at this station: <%= @station.total_trips_ended %></p>
  <p>Most frequent destination station: <%= @station.most_riders_went_to %></p>
  <p>Most frequent origination station: <%= @station.most_riders_came_from %></p>
  <p>Date with the highest number of trips started at this station: <%= @station.highest_start_volume_date %></p>
  <p>Most frequent zip code for users starting trips at this station: <%= @station.most_users_from_zipcode %></p>
  <p>Bike ID most frequently starting a trip at this station: <%= @station.most_started_bike_id %></p>
<% end %>

<% if current_admin? %>
<%= button_to 'Edit', edit_admin_station_path(@station), method: 'get' %>
<%= button_to 'Delete', admin_station_path(@station), method: "delete", data: {confirm: 'Are you sure you want to delete this station?'} %>
<% end %>

if @station.trips_started_at.empty
