<h1>search page</h1>
<%= button_to 'Back to Dashboard', admin_dashboard_path, method: 'get' %>

<table>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.user.first_name %></td>
      <td><%= order.created_at %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
<table>
