<h3>Account Profile:</h3>
<ul>
  <li><%= current_user.first_name %> </li>
  <li><%= current_user.last_name %> </li>
  <li><%= current_user.street %> </li>
  <li><%= current_user.city %> </li>
  <li><%= current_user.state %> </li>
  <li><%= current_user.zip_code %> </li>
  <li><%= current_user.email %> </li>
</ul>
<%= button_to 'Edit Account', edit_user_path(current_user), method: 'get' %>
</br>
</br>
<h3> Order Count by Status:</h3>
<p><%= link_to 'Ordered', '/admin/dashboard?status=ordered' %>: <%= @ordered_status %> </p>
<p><%= link_to 'Paid', '/admin/dashboard?status=paid' %>: <%= @paid_status %></p>
<p><%= link_to 'Completed', '/admin/dashboard?status=completed' %>: <%= @completed_status %></p>
<p><%= link_to 'Cancelled', '/admin/dashboard?status=cancelled' %>: <%= @cancelled_status %></p>

</br>
</br>

<h3>All Orders</h3>
<table>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.user.first_name %></td>
      <td><%= order.created_at %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
<table>
