<ul>
  <li><%= current_user.first_name %> </li>
  <li><%= current_user.last_name %> </li>
  <li><%= current_user.street %> </li>
  <li><%= current_user.city %> </li>
  <li><%= current_user.state %> </li>
  <li><%= current_user.zip_code %> </li>
  <li><%= current_user.email %> </li>
</ul>
<%= link_to 'Logout', logout_path %>
