<h3>Account Profile:</h3>
<ul>
  <li><%= current_user.first_name %> </li>
  <li><%= current_user.last_name %> </li>
  <li><%= current_user.street %> </li>
  <li><%= current_user.city %> </li>
  <li><%= current_user.state %> </li>
  <li><%= current_user.zip_code %> </li>
  <li><%= current_user.email %> </li>
</ul>

<%= button_to 'Edit Account', edit_user_path(current_user), method: 'get' %>

<h3>Order Count by Status</h3>
<p>Ordered: <%= @ordered %></p>
<p>Paid: <%= @paid %></p>
<p>Completed: <%= @completed %></p>
<p>Cancelled: <%= @cancelled %></p>

<h3>All Orders</h3>
<% @orders.each do |order| %>
  <ul><%=link_to "#{order.id}", order_path(order)%></ul>
<% end %>
