<% @accessories.each do |accessory| %>
  <%= accessory.title %>
  <%= accessory.description %>
  <%= accessory.status %>
  <%= image_tag accessory.image_url, id: 'accessory-thumbnail' %>
  <div id='accessory-<%= accessory.id %>'>
    <%= button_to 'Edit', edit_admin_accessory_path(accessory), method: :get %>
  </div>
<% end %>
