<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      BikeShop
      </h1>
      <h2 class='sub-title'>
        <% if current_admin? %>
        <p class="control"><%= button_to 'Create New Accessory', new_admin_accessory_path, method: :get, class: "button is-outlined is-small is-warning"%></p>
        <% end %>
      </h2>
    </div>
  </div>
</section>

<% @accessories.each do |accessory| %>
<div id='accessory-<%= accessory.id %>'>
  <%= link_to accessory.title, accessory_path(accessory)%>
  Price: <%= accessory.price %>
  <%= accessory.description %>
  <%= accessory.status %>
  <%= image_tag accessory.image_url, id: 'accessory-thumbnail' %>
    <p class="control"><%= button_to 'Edit', edit_admin_accessory_path(accessory), method: :get, class: "button is-outlined is-small is-primary"%></p>
</div>
<% end %>
