<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      BikeShop
      </h1>
      <h2 class='sub-title'>
        <p class="control"><%= button_to 'Create New Accessory', new_admin_accessory_path, method: :get, class: "button is-small is-link"%></p>
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns is-centered">
    <div class="column is-narrow">
      <table class="table is-hoverable is-centered">
        <thead>
          <tr>
            <th>Image</th>

            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Update</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @accessories.each do |accessory| %>
            <tr>
              <td><%= image_tag accessory.image_url, id: 'accessory-thumbnail' %></td>
              <td><%= link_to accessory.title, accessory_path(accessory)%></td>
              <td><%= accessory.description %></td>
              <td><%= number_to_currency(accessory.price) %></td>
              <td><%= accessory.status %></td>
              <td>  <% if accessory.retired? %>
                      <div class="control"><%= button_to 'Activate', admin_accessory_path(accessory, status: 'active'), method: :patch, class: "button is-outlined is-small is-danger"%></p>
                    <% else %>
                      <div class="control"><%= button_to 'Retire', admin_accessory_path(accessory, status: 'retired'), method: :patch, class: "button is-outlined is-small is-danger"%></p>
                    <% end %></td>
              <td><%= button_to 'Edit', edit_admin_accessory_path(accessory), method: :get, class: "button is-outlined is-small is-primary"%></td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
