<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Trip Analytics
      </h1>
    </div>
  </div>
</section>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <p>Average Duration: <%= format_time(@average_duration) %></p>
          <p>Longest Duration: <%= format_time(@longest_duration) %></p>
          <p>Shortest Duration: <%= format_time(@shortest_duration) %></p>
        </article>
        <article class="tile is-child box">
          <p>Subscribers: <%= @subscribers_total %> (<%= @subscribers_percentage.to_i %>%)</p>
          <p>Customers: <%= @customers_total %> (<%= @customers_percentage.to_i %>%)</p>
        </article>
        <article class="tile is-child box">
          <p>Date with the most rides: <%= @ride_days.first.date_mod %> (<%= @ride_days.first.date_count %> rides)</p>
          <p>Date with the least rides: <%= @ride_days.last.date_mod %> (<%= @ride_days.last.date_count %> rides)</p>
        </article>
        <article class="tile is-child box">
          <p>Most Ridden Bike: #<%= @most_ridden_bike.bike_id %> (<%= @most_ridden_bike.number_of_rides %> rides)</p>
          <p>Least Ridden Bike: #<%= @least_ridden_bike.bike_id %> (<%= @least_ridden_bike.number_of_rides %> rides)</p>
        </article>
        <article class="tile is-child box">
          <p>Station with Most Starting Trips: <%= @station_most_starts %></p>
          <p>Station with Most Ending Trips: <%= @station_most_ends %></p>
        </article>
        <article class="tile is-child box">
          <p>Conditions on the Day with the Most Trips: (<%= @ride_days.first.condition.date.to_date %>)
          <p>Max Temp(F): <%= @ride_days.first.condition.max_temp %></p>
          <p>Mean Temp(F): <%= @ride_days.first.condition.mean_temp %></p>
          <p>Min Temp(F): <%= @ride_days.first.condition.min_temp %></p>
          <p>Mean Humidity: <%= @ride_days.first.condition.mean_humidity %></p>
          <p>Mean Visibility(mi): <%= @ride_days.first.condition.mean_visibility %></p>
          <p>Mean Wind Speed(mph): <%= @ride_days.first.condition.mean_wind_speed %></p>
          <p>Precipitation(in): <%= @ride_days.first.condition.precipitation %></p>
          <p>Conditions on the Day with the Leasr Trips: <%= @ride_days.last.condition %></p>
          <p>Max Temp(F): <%= @ride_days.last.condition.max_temp %></p>
          <p>Mean Temp(F): <%= @ride_days.last.condition.mean_temp %></p>
          <p>Min Temp(F): <%= @ride_days.last.condition.min_temp %></p>
          <p>Mean Humidity: <%= @ride_days.last.condition.mean_humidity %></p>
          <p>Mean Visibility(mi): <%= @ride_days.last.condition.mean_visibility %></p>
          <p>Mean Wind Speed(mph): <%= @ride_days.last.condition.mean_wind_speed %></p>
          <p>Precipitation(in): <%= @ride_days.last.condition.precipitation %></p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p>Breakdown per Year:</p>
          <ul>
            <% @breakdown_by_year.sort.each do |year, rides| %>
              <li><%= year.strftime('%Y') %>: <%= rides %> rides</li>
            <% end %>
          </ul>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p>Breakdown per Month:</p>
      <ul>
        <% @breakdown_by_month.sort.each do |month, rides| %>
          <li><%= month.strftime('%b %Y') %>: <%= rides %> rides</li>
        <% end %>
      </ul>
    </article>
  </div>
</div>
