<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Trips Dashboard
      </h1>
      <h2 class='sub-title'>
        <% if current_admin? %>
        <p class="control"><%= button_to 'Create New Trip', new_admin_trip_path, method: :get, class: "button is-small is-warning"%></p>
        <% end %>
      </h2>
    </div>
  </div>
</section>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <p>Average Duration: <%= format_time(@average_duration) %></p>
          <p>Longest Duration: <%= format_time(@longest_duration) %></p>
          <p>Shortest Duration: <%= format_time(@shortest_duration) %></p>
        </article>
        <article class="tile is-child box">
          <p>Subscribers: <%= @subscribers_total %> (<%= @subscribers_percentage.to_i %>%)</p>
          <p>Customers: <%= @customers_total %> (<%= @customers_percentage.to_i %>%)</p>
        </article>
        <article class="tile is-child box">
          <p>Date with the most rides: <%= @ride_days.first.date_mod %> (<%= @ride_days.first.date_count %> rides)</p>
          <p>Date with the least rides: <%= @ride_days.last.date_mod %> (<%= @ride_days.last.date_count %> rides)</p>
        </article>
        <article class="tile is-child box">
          <p>Most Ridden Bike: #<%= @most_ridden_bike.bike_id %> (<%= @most_ridden_bike.number_of_rides %> rides)</p>
          <p>Least Ridden Bike: #<%= @least_ridden_bike.bike_id %> (<%= @least_ridden_bike.number_of_rides %> rides)</p>
        </article>
        <article class="tile is-child box">
          <p>Station with Most Starting Trips: <%= @station_most_starts %></p>
          <p>Station with Most Ending Trips: <%= @station_most_ends %></p>
        </article>
        <article class="tile is-child box">
          <p>Conditions on the Day with the Most Rides: (<%= @condition_most_rides.date.to_date %>)
          <p>Max Temp(F): <%= @condition_most_rides.max_temp %></p>
          <p>Mean Temp(F): <%= @condition_most_rides.mean_temp %></p>
          <p>Min Temp(F): <%= @condition_most_rides.min_temp %></p>
          <p>Mean Humidity: <%= @condition_most_rides.mean_humidity %></p>
          <p>Mean Visibility(mi): <%= @condition_most_rides.mean_visibility %></p>
          <p>Mean Wind Speed(mph): <%= @condition_most_rides.mean_wind_speed %></p>
          <p>Precipitation(in): <%= @condition_most_rides.precipitation %></p>
          <br>
          <br>
          <p>Conditions on the Day with the Least Rides: (<%= @condition_least_rides.date.to_date %>)
          <p>Max Temp(F): <%= @condition_least_rides.max_temp %></p>
          <p>Mean Temp(F): <%= @condition_least_rides.mean_temp %></p>
          <p>Min Temp(F): <%= @condition_least_rides.min_temp %></p>
          <p>Mean Humidity: <%= @condition_least_rides.mean_humidity %></p>
          <p>Mean Visibility(mi): <%= @condition_least_rides.mean_visibility %></p>
          <p>Mean Wind Speed(mph): <%= @condition_least_rides.mean_wind_speed %></p>
          <p>Precipitation(in): <%= @condition_least_rides.precipitation %></p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p>Breakdown per Year:</p>
          <ul>
            <% @breakdown_by_year.sort.each do |year, rides| %>
              <li><%= year.strftime('%Y') %>: <%= rides %> rides</li>
            <% end %>
          </ul>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p>Breakdown per Month:</p>
      <ul>
        <% @breakdown_by_month.sort.each do |month, rides| %>
          <li><%= month.strftime('%b %Y') %>: <%= rides %> rides</li>
        <% end %>
      </ul>
    </article>
  </div>
</div>
