<h1>Trip's Dashboard</h1>

<br>

<p>Average Duration: <%= @average_duration %></p>

<br>

<p>Longest Duration: <%= @longest_duration %></p>

<br>

<p>Shortest Duration: <%= @shortest_duration %></p>

<br>

<p>Station with Most Starting Trips: <%= @station_most_starts %></p>

<br>

<p>Station with Most Ending Trips: <%= @station_most_ends %></p>
