<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-white">
          <p class="title">Order No. <%= @order.id %></p>
          <p class="sub-title">
            First Name: <%= current_user.first_name.capitalize %></br>
            <% @order.unpack_contents.each do |accessory, quantity| %>
                <p><%= image_tag accessory.image_url, id: 'accessory-thumbnail' %></p>
                <p><%= link_to accessory.title, accessory_path(accessory) %></p>
                <p>Price: <%= number_to_currency(accessory.price) %></p>
                <p>Quantity: <%= quantity %></p>
                <p>Subtotal: <%= number_to_currency(accessory.price * quantity) %></p>
                <% end %>
            <p>Total: <%= number_to_currency(@order.total) %></p>
            <p>Status: <%= @order.status %></p>
            <p>Status Changed: <%= @order.updated_at.strftime("%d %b %Y %H:%M") %></p>
            <p>Submitted: <%= @order.created_at.strftime("%d %b %Y %H:%M") %></p>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-white">
          <p class="title">Customer Information:</p>
          <p class="sub-title">
          <% if current_admin? %>
            <p>Customer Name: <%= @order.user.first_name %> <%= @order.user.last_name %></p>
            <p>Customer Address: <%= @order.user.street %> <%= @order.user.city %>, <%= @order.user.state %> <%= @order.user.zip_code %></p>
          <% end %>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
