<h1>Station's Dashboard</h1>

<p>Total Number of Stations: <%=  @stations_total_count %><p>
<p>Average Bikes Available per Station: <%=  @stations_average_bikes %><p>
<p>Highest Bike Count: <%=  @stations_highest_bike_total %><p>
<p>: <%=  @stations_lowest_bike_total %><p>
<p>: <%=  @station_with_most_inventory %><p>
<p>: <%=  @station_with_lowest_inventory %><p>
<p>: <%=  @newest_station %><p>
<p>: <%=  @oldest_station %><p>
