<h1>Station's Dashboard</h1>

<p>Total Number of Stations: <%= @stations_total_count %><p>
<p>Average Bikes Available per Station: <%= @stations_average_bikes %><p>
<p>Highest Bike Count: <%= @stations_highest_bike_total %><p>
<p>Station with Most Bikes Available: <%= @station_with_highest_inventory %><p>
<p>Lowest Bike Count: <%= @stations_lowest_bike_total %><p>
<p>Station with Least Bikes Available: <%= @station_with_lowest_inventory %><p>
<p>Newest Station: <%= @newest_station %><p>
<p>Oldest Station: <%= @oldest_station %><p>
