<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      BikeShop
      </h1>
      <h2 class='sub-title'>
        <% if current_admin? %>
        <p class="control"><%= button_to 'Create New Accessory', new_admin_accessory_path, method: :get, class: "button is-small is-warning"%></p>
        <% end %>
      </h2>
    </div>
  </div>
</section>
<h1>Bike Shop</h1>
<ul>
  <% @accessories.each do |accessory| %>
    <div id="accessory_<%= accessory.id %>">
      <li><%= image_tag accessory.image_url, id: 'accessory-index-image' %></li>
      <li><%= link_to accessory.title, accessory_path(accessory)%></li>
      <% if accessory.active? %>
        <li><%= button_to 'Add to Cart', cart_path(accessory_id: accessory.id) %></li>
      <% else %>
        <li>Accessory Retired</li>
      <% end %>
    </div>
  <% end %>
</ul>
<%= paginate @accessories %>
