<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-white">
          <p class="title"><%= @accessory.title %></p>
          <p class="sub-title">
          <%= image_tag @accessory.image_url, id: 'accessory-show-image' %></li>
          <li>Product Description: <%= @accessory.description %></li>
          <li>Unit Price: <%= number_to_currency(@accessory.price) %></li>
          <li>Status: <%= @accessory.status %></li>
          <% if @accessory.active? %>
            <%= button_to 'Add to Cart', cart_path(accessory_id: @accessory.id) %>
          <% else %>
            <p>Accessory Retired</p>
          <% end %>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>

<% if current_admin? %>
<%= button_to 'See All Accessories', admin_accessories_path, method: 'get' %>
<% end %>
