
<h1><%= @accessory.title %></h1>

<ul>
  <li><%= image_tag @accessory.image_url, id: 'accessory-show-image' %></li>
  <li>Product Description: <%= @accessory.description %></li>
  <li>Unit Price: <%= number_to_currency(@accessory.price) %></li>
  <li>Status: <%= @accessory.status %></li>

  <% if @accessory.active? %>
    <li><%= button_to 'Add to Cart', cart_path(accessory_id: @accessory.id) %></li>
  <% else %>
    <li>Accessory Retired</li>
  <% end %>
</ul>
