<!DOCTYPE html>
<html>
<head>
  <title>BikeShare</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <%= render partial: '/partials/nav' %>

  <div class="centered">
    <% flash.each do |type, message| %>
    <%= content_tag :div, message.html_safe, class: type %>
  <% end %>
  </div>

  <%= yield %>
</body>
</html>
